<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eebolf.CantandoIngles"
    android:versionCode="7"
    android:versionName="7.0">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--<uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"></uses-permission>-->


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
        android:logo="@drawable/ic_launcher_clear">

        <activity
            android:name="com.eebolf.CantandoIngles.mainactivity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.eebolf.CantandoIngles.start.LyricActivity" >
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <!--<meta-data android:name="LYRIC_FILENAME"
                    android:value="under_the_christmas_tree_keytronic.txt"/>
        <meta-data android:name="LYRIC_VIEW_PREF"
                   android:value="LYRIC_LIST_VIEW"/>
        <meta-data android:name="MAKING_LYRIC_TIMES"
                   android:value="true"/>-->
        <activity
            android:name="com.eebolf.CantandoIngles.todowithlists.DownloadableSongList" >
        </activity>

        <activity
            android:name="com.eebolf.CantandoIngles.todowithlists.DeleterSongsListActivity" >
        </activity>

        <service android:name="com.eebolf.CantandoIngles.todowithlists.DownloadSongService"
                 android:exported="false"/>
        <provider
            android:name="com.eebolf.CantandoIngles.SongsCP"
            android:authorities="com.eebolf.CantandoIngles.SongsCP"
            android:exported="false">
        </provider>

    </application>

</manifest>
